body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 237, 213);

}

h1 {
    padding-left: 3px;
    padding-bottom: 2%;
    letter-spacing: 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1%;
}


#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 13px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    

}

.category:nth-child(1) {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: large;
    text-align: center;
    background-color: lightblue;
    padding-top: 25%;
    padding-bottom: 25%;

}
.category:nth-child(2) {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: large;
    text-align: center;
    background-color: lightblue;
    padding-top: 25%;
    padding-bottom: 25%;

}

.category:nth-child(3) {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: large;
    text-align: center;
    background-color: lightblue;
    padding-top: 25%;
    padding-bottom: 25%;

}
.category:nth-child(4) {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: large;
    text-align: center;
    background-color: lightblue;
    padding-top: 25%;
    padding-bottom: 25%;

}
.category:nth-child(5) {
    font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;

}
.category:nth-child(6) {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;

}

.two {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;

}

.four {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;
    
}

.six {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;
        
}

.six {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;

}

.eight {
font-family: Georgia, 'Times New Roman', Times, serif;
border: 2px solid black;
font-size: large;
text-align: center;
background-color: lightblue;
padding-top: 25%;
padding-bottom: 25%;

}

.thousand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: large;
    text-align: center;
    background-color: lightblue;
    padding-top: 25%;
padding-bottom: 25%;
    
    }

.input {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#input {
    background-color: rgb(212, 253, 241);



}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.button:nth-child(1) {
    background-color: rgb(173, 230, 207);
    border: 1px;
    border: 1px solid black;
    display: inline;
    height: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position: relative;
    right: 31px;
    padding-left: 5px;
    padding-right: 5px;

    
}

.button:nth-child(2) {
    background-color: rgb(173, 230, 207);
    border: 1px;
    border: 1px solid black;
    position: relative;
    left: 30px;
    height: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-right: 11px;
    padding-left: .7%;
    

}

#score {
    display: flex;
    letter-spacing: 8px;
    justify-content: center;



}


.score {
    
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    


}

.score2 {
    display: flex;
    padding-left: 250px;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;


}

#nextround {
padding-top: 2%;
position: relative;
left: 1000px;


}

.nextround {
    display: flex;
    position: relative;
    right: 40px;
    background-color: rgb(173, 230, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;




}



